<a href="https://colab.research.google.com/github/reyndomly/creditscoringprediction/blob/main/Credit_Scoring_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

In [28]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression

In [30]:
!gdown "1L8xRIQbddq7tYj3hEp9zeOtCZh-diTuR"

Downloading...
From: https://drive.google.com/uc?id=1L8xRIQbddq7tYj3hEp9zeOtCZh-diTuR
To: /content/dataset_creditscoring.xlsx
100% 389k/389k [00:00<00:00, 77.8MB/s]

# Load Dataset

In [31]:
DATASET_PATH = "/content/dataset_creditscoring.xlsx"

In [32]:
df = pd.read_excel(DATASET_PATH)

In [33]:
df.shape

(3000, 30)

In [34]:
df.head()

,TARGET,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,1.0,582,3.0,3.0,0.0,4.0,0.0,5.0,117.0,27.0,...,3.0,0.9179,0.2083,2.0,3.0,7.0,0.2083,4.0,4.0,0.0000
1,1.0,662,15.0,9.0,0.0,3.0,1.0,3.0,14.0,14.0,...,1.0,0.8000,0.0000,0.0,0.0,0.0,1.0000,12.0,0.0,1.0000
2,1.0,805,0.0,0.0,0.0,1.0,5.0,1.0,354.0,7.0,...,5.0,0.3552,0.6538,0.0,1.0,1.0,0.7308,1.0,1.0,0.5263
3,1.0,1175,8.0,5.0,0.0,6.0,1.0,10.0,16.0,4.0,...,3.0,0.9127,0.2500,1.0,1.0,1.0,0.7500,7.0,1.0,1.3333
4,1.0,1373,3.0,1.0,0.0,9.0,0.0,8.0,130.0,52.0,...,1.0,1.2511,0.0000,0.0,1.0,4.0,0.1429,3.0,1.0,0.0000

# Short Explanation

In [35]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
TARGET,3000.0,0.166667,0.372740,0.0,0.0000,0.00000,0.00000,1.0000
ID,3000.0,62922.683667,37203.691912,66.0,30376.5000,62872.50000,96156.50000,126503.0000
DerogCnt,3000.0,1.430000,2.731469,0.0,0.0000,0.00000,2.00000,51.0000
CollectCnt,3000.0,0.857000,2.161352,0.0,0.0000,0.00000,1.00000,50.0000
BanruptcyInd,3000.0,0.153333,0.360369,0.0,0.0000,0.00000,0.00000,1.0000
InqCnt06,3000.0,3.108333,3.479171,0.0,1.0000,2.00000,4.00000,40.0000
InqTimeLast,2812.0,3.108108,4.637831,0.0,1.0000,1.00000,3.00000,24.0000
InqFinanceCnt24,3000.0,3.555000,4.477536,0.0,1.0000,2.00000,5.00000,48.0000
TLTimeFirst,3000.0,170.113667,92.813700,6.0,106.0000,151.00000,227.00000,933.0000
TLTimeLast,3000.0,11.873667,16.321412,0.0,4.0000,7.00000,13.00000,342.0000
TLCnt03,3000.0,0.275000,0.582084,0.0,0.0000,0.00000,0.00000,7.0000
TLCnt12,3000.0,1.821333,1.925265,0.0,0.0000,1.00000,3.00000,15.0000
TLCnt24,3000.0,3.882333,3.396714,0.0,1.0000,3.00000,6.00000,28.0000
TLCnt,2997.0,7.879546,5.421595,0.0,4.0000,7.00000,11.00000,40.0000
TLSum,2960.0,20151.095608,19682.086262,0.0,5699.7500,15546.50000,28303.25000,210612.0000
TLMaxSum,2960.0,31205.900676,29092.908099,0.0,10236.0000,24188.50000,44756.25000,271036.0000
TLSatCnt,2996.0,13.511682,8.931769,0.0,6.0000,12.00000,19.00000,57.0000
TLDel60Cnt,3000.0,1.522000,2.809653,0.0,0.0000,0.00000,2.00000,38.0000
TLBadCnt24,3000.0,0.567000,1.324423,0.0,0.0000,0.00000,1.00000,16.0000
TL75UtilCnt,2901.0,3.121682,2.605435,0.0,1.0000,3.00000,4.00000,20.0000
TL50UtilCnt,2901.0,4.077904,3.108076,0.0,2.0000,3.00000,6.00000,23.0000
TLBalHCPct,2959.0,0.648178,0.266486,0.0,0.5011,0.69550,0.84065,3.3613
TLSatPct,2996.0,0.518331,0.234759,0.0,0.3529,0.52705,0.68180,1.0000
TLDel3060Cnt24,3000.0,0.726000,1.163633,0.0,0.0000,0.00000,2.00000,8.0000
TLDel90Cnt24,3000.0,0.814667,1.609508,0.0,0.0000,0.00000,1.00000,19.0000
TLDel60CntAll,3000.0,2.522000,3.407255,0.0,0.0000,1.00000,4.00000,45.0000
TLOpenPct,2997.0,0.496168,0.206722,0.0,0.3448,0.50000,0.62500,1.0000
TLBadDerogCnt,3000.0,1.409000,2.460434,0.0,0.0000,0.00000,2.00000,47.0000
TLDel60Cnt24,3000.0,1.068333,1.806124,0.0,0.0000,0.00000,1.00000,20.0000
TLOpen24Pct,2997.0,0.564219,0.480105,0.0,0.2500,0.50000,0.80000,6.0000

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 30 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   TARGET           3000 non-null   float64
 1   ID               3000 non-null   int64
 2   DerogCnt         3000 non-null   float64
 3   CollectCnt       3000 non-null   float64
 4   BanruptcyInd     3000 non-null   float64
 5   InqCnt06         3000 non-null   float64
 6   InqTimeLast      2812 non-null   float64
 7   InqFinanceCnt24  3000 non-null   float64
 8   TLTimeFirst      3000 non-null   float64
 9   TLTimeLast       3000 non-null   float64
 10  TLCnt03          3000 non-null   float64
 11  TLCnt12          3000 non-null   float64
 12  TLCnt24          3000 non-null   float64
 13  TLCnt            2997 non-null   float64
 14  TLSum            2960 non-null   float64
 15  TLMaxSum         2960 non-null   float64
 16  TLSatCnt         2996 non-null   float64
 17  TLDel60Cnt       3000 non-null   float64
 18  TLBadCnt24       3000 non-null   float64
 19  TL75UtilCnt      2901 non-null   float64
 20  TL50UtilCnt      2901 non-null   float64
 21  TLBalHCPct       2959 non-null   float64
 22  TLSatPct         2996 non-null   float64
 23  TLDel3060Cnt24   3000 non-null   float64
 24  TLDel90Cnt24     3000 non-null   float64
 25  TLDel60CntAll    3000 non-null   float64
 26  TLOpenPct        2997 non-null   float64
 27  TLBadDerogCnt    3000 non-null   float64
 28  TLDel60Cnt24     3000 non-null   float64
 29  TLOpen24Pct      2997 non-null   float64
dtypes: float64(29), int64(1)
memory usage: 703.2 KB

# Feature Engineering

In [37]:
#dropping customer ID column from the dataset
df=df.drop('ID',axis=1)
df.shape

(3000, 29)

In [38]:
# explore missing values
df.isna().sum()

TARGET               0
DerogCnt             0
CollectCnt           0
BanruptcyInd         0
InqCnt06             0
InqTimeLast        188
InqFinanceCnt24      0
TLTimeFirst          0
TLTimeLast           0
TLCnt03              0
TLCnt12              0
TLCnt24              0
TLCnt                3
TLSum               40
TLMaxSum            40
TLSatCnt             4
TLDel60Cnt           0
TLBadCnt24           0
TL75UtilCnt         99
TL50UtilCnt         99
TLBalHCPct          41
TLSatPct             4
TLDel3060Cnt24       0
TLDel90Cnt24         0
TLDel60CntAll        0
TLOpenPct            3
TLBadDerogCnt        0
TLDel60Cnt24         0
TLOpen24Pct          3
dtype: int64

In [39]:
# filling missing values with mean
df=df.fillna(df.mean())

In [40]:
# explore missing values post missing value fix
df.isna().sum()

TARGET             0
DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        0
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        0
TL50UtilCnt        0
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

In [42]:
# count of good loans (0) and bad loans (1)
df['TARGET'].value_counts()

0.0    2500
1.0     500
Name: TARGET, dtype: int64

dataset cukup imbalance mengingat jumlah good loan yaitu 2500 lebih tinggi daripada bad loan yang hanya berjumlah 500 data

# Splitting Dataset

In [45]:
y = df.iloc[:, 0].values
X = df.iloc[:, 1:29].values

In [46]:
# splitting dataset into training and test (in ratio 80:20)

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=0,
                                                    stratify=y)

# Standardization

In [47]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [48]:
# Exporting Normalisation Coefficients for later use in prediction
import joblib
joblib.dump(sc, 'scaler')

['scaler']

# Model

In [49]:
classifier =  LogisticRegression()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [50]:
# Exporting Logistic Regression Classifier for later use in prediction

# import joblib
joblib.dump(classifier, 'model')

['model']

# Evaluation

In [51]:
print(confusion_matrix(y_test,y_pred))

[[487  13]
 [ 87  13]]

In [52]:
print(accuracy_score(y_test, y_pred))

0.8333333333333334

# Prediction

In [53]:
predictions = classifier.predict_proba(X_test)
predictions

array([[0.61644691, 0.38355309],
       [0.9885656 , 0.0114344 ],
       [0.87069686, 0.12930314],
       ...,
       [0.94450568, 0.05549432],
       [0.46756903, 0.53243097],
       [0.94014209, 0.05985791]])

In [54]:
# writing model output file

df_prediction_prob = pd.DataFrame(predictions, columns = ['prob_good', 'prob_bad'])
df_prediction_target = pd.DataFrame(classifier.predict(X_test), columns = ['predicted_TARGET'])
df_test_dataset = pd.DataFrame(y_test,columns= ['Actual Outcome'])

dfx=pd.concat([df_test_dataset, df_prediction_prob, df_prediction_target], axis=1)

dfx.to_csv("Model_Prediction.xlsx", sep=',', encoding='UTF-8')

dfx.head()

   Actual Outcome  prob_good  prob_bad  predicted_TARGET
0             1.0   0.616447  0.383553               0.0
1             0.0   0.988566  0.011434               0.0
2             1.0   0.870697  0.129303               0.0
3             0.0   0.953963  0.046037               0.0
4             1.0   0.726633  0.273367               0.0